@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #EFF3FA;
    overscroll-behavior: none;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}