@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-padding: 0;
}

body {
  overscroll-behavior: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}